.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

table {
    font-family: 'Segoe UI', Tahoma, Geneva, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin: 20px 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    table-layout: fixed;
}

th {
    background-color: #2196F3;
    color: white;
    padding: 16px;
    font-weight: bold;
    text-align: center;
}

td {
    padding: 16px;
    text-align: center;
    word-wrap: break-word;
}

tr:nth-child(even) {
    background-color: #e3f2fd;
}

tr:nth-child(odd) {
    background-color: #bbdefb;
}

tr:hover {
    background-color: #90caf9;
    cursor: pointer;
}

td, th {
    border-bottom: 1px solid #ddd;
}

h1 {
    margin-bottom: 10px;
    font-weight: bold;
    color: #1565C0;
}
